body{
font-family:Arial;
background:#111;
color:white;
text-align:center;
padding-top:40px;
}

button{
padding:12px 20px;
margin:10px;
font-size:16px;
cursor:pointer;
}

#question{
font-size:26px;
margin:30px;
}

#choices{
margin:20px;
font-size:18px;
}

#answer{
margin-top:20px;
font-size:20px;
color:#4cff4c;
}

.hidden{
display:none;
}

.kevin{
background:#8b0000;
color:white;
font-weight:bold;
}

.kevin-mode{
background:black;
color:#ff2c2c;
}

#hud{
margin-bottom:20px;
font-size:18px;
}
